* {
    border: none;
    border-radius: 0px;
    font-family: "CaskaydiaCove Nerd Font";
    font-weight: bold;
    font-size: 12px;
}

/* :root {
    --bar-bg: rgba(0, 0, 0, 0);
    --main-bg: #11111b;
    --main-fg: #cdd6f4;
    --wb-act-bg: #a6adc8;
    --wb-act-fg: #313244;
    --wb-hvr-bg: #f5c2e7;
    --wb-hvr-fg: #313244;
} */

@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #11111b;
@define-color main-fg #cdd6f4;

@define-color wb-act-bg #a6adc8;
@define-color wb-act-fg #313244;

@define-color wb-hvr-bg #f5c2e7;
@define-color wb-hvr-fg #313244;

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 3px;
    border-width: 0px;
}

#custom-phoenix {
    font-size: 10px;
    background-image: url('./img/—Pngtree—fiery\ phoenix\ bird_18957407.png'); /* Replace with the actual path to your PNG */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* Or 'cover' or a specific size */
    padding-left: 32px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    color: @main-fg;
    animation: ws_normal 10s ease-in-out 1;
}

#workspaces button.active {
    background: linear-gradient(to bottom, @wb-act-bg, transparent);
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: linear-gradient(to bottom, @wb-hvr-bg, transparent);
    /* color: white; */
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px 1px;
    margin: 0px 2px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: linear-gradient(to bottom, @wb-act-bg, transparent);
    color: @wb-act-color;
    padding: 0px 7px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: linear-gradient(to bottom, @wb-hvr-bg, transparent);
    color: @wb-hvr-color;
    padding: 0px 7px;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#idle_inhibitor {
    font-size: 16px;
    margin-top: 1px;
    padding: 0px 3px;
}

#clock {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0px;
}

#network,
#battery {
    min-width: 12px;
    margin: 0 8px;
    font-size: 16px;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}